{% extends 'base.html'%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="content-section mt-4">
              <div class="media">
                  <img class="rounded-circle account-img" src="{{profile_pic_path}}">
                  <div class="media-body">
                      <h2 class="account-heading">{{current_user.username}}</h2>
                      <p class="text-secondary">{{current_user.email}}</p>
                  </div>
              </div>
          </div>
    </div>
  </div>
</div>
{% endblock %}