{% extends 'base.html'%}

{% block content %}
    <div class="container">
        <h1 class="text-center"> Welcome to my blog</h1>
        <div class="row">
            <div class="col-md-8">
                {% for blog in blogs.items %}
                    <hr>
                    <div class="row">
                        <div class="col-md-7">
                            <p>By <span style="color: blue">{{blog.user.username}}</span>  on {{blog.posted.strftime('%d-%m-%Y')}}</p>
                            <h3>Tittle: <a href="{{url_for('main.blog',id = blog.id)}}">{{blog.title}}</a></h3>
                            <p>{{blog.content}}</p>
                            <p>{{blog.comment.count()}} Comments</p>
                        </div>
                        <div class="col-md-5">
                            <form class="form-inline" action="{{url_for('main.comment',blog_id = blog.id)}}" method="POST">
                                <div class="md-form form-group">
                                    <!-- <i class="fa fa-lock prefix"></i> -->
                                    <label for="form92">Type your comment</label>
                                    <input type="text"  class="form-control" name ="newcomment" required>
                                </div>
                                <div class="md-form form-group">
                                    <button class="btn btn-sm btn-outline-info">Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>  
                    <hr>    
                {% endfor %}   
            </div>
            <div class="col-md-4">
                <p>{{quote.author}}</p>
                <p>{{quote.quote}}</p>
                {% for message in get_flashed_messages() %}
                <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
                </div>
                {% endfor %}
                <form class="form-inline" action="{{url_for('main.subscribe')}}" method="POST">
                    <div class="md-form form-group">
                        <label for="form92">Enter Email Address...</label>
                        <input type="email"  class="form-control" name ="subscriber" required>
                    </div>
                    <div class="md-form form-group">
                        <button class="btn btn-sm btn-outline-info">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}